<!doctype html>

<style>
  body, html {
      margin: 0;
      height: 100%;
      width: 100%;
      display: flex;
  }

  .left, .right {
      overflow-y: auto;
  }
  
  .left {
      flex: .6;
      padding: 10px;
      border-right: solid black
  }

  .right {
      flex: 1;
      display: flex;
      overflow-x: auto;
  }

  .right img {
      max-height: 100%;
      width: auto;
  }
</style>

<div class='left'>
  <form action="{{ url_for('reset_tree_view') }}" method="POST">
    <button>Reset tree</button>
  </form>

  <table border="1">
    <thead>
      <tr>
        <th>Fact</th>
        {% if facts %}
        {% for part_label in facts[0][1].keys() %}
        <th>{{ part_label.replace('_', ' ') }}</th>
        {% endfor %}
        {% endif %}
        <th>Answer</th>
      </tr>
    </thead>
    <tbody>
      <p>{{ true_hypothesis }}</p>
      
      {% for fact, parts_dict in facts %}
      <tr style='{{ loop.first and "background-color: #fffbb3" }}'>
        <td>{{ fact }}</td>

        {% for part in parts_dict.values() %}
        <td>{{ part }}</td>
        {% endfor %}

        <td>
          <form action="{{url_for('set_truth_view')}}" method="POST">
            <input type="hidden" name="fact" value="{{fact}}">
            <button type="submit" name="truth" value="true">Yes</button>
            <button type="submit" name="truth" value="false">No</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class='right'>
  <img src="{{url_for('send_diagram_file')}}">

</div>
